ASPNETCORE_ENVIRONMENT=Production
Auth0__Domain=seu-tenant.us.auth0.com
Auth0__ClientId=seu-client-id
Auth0__ClientSecret=seu-client-secret
ConnectionStrings__DefaultConnection=Host=host;Database=database;Username=user;Password=password;SSL Mode=Require
